@import "./../../partials/vars";

.scorecard {
    background-color: $dark;
    justify-content: center;
    align-items: center;
    position: absolute;
    display: flex;
    height: 100vh;
    width: 100vw;
    color: $dark;
    z-index: 9;
    top: 0;
}

.scorecard__inner {
    flex-direction: column;
    max-width: $maxWidth;
    display: flex;
}

.scorecard__inner-score {
    max-width: $maxWidth;
    position: relative;
    display: flex;
    & .score {
        border: 3px solid $offYellow;
        margin-bottom: 30px;
        padding: 10px;
    }
}

.players-scores {
    display: flex;
    width: 480px;
    & .user {
        color: $brightBlue;
    }
    & .AI {
        color: $brightGreen;
        margin-left: 70px;
    }
}

.action {
    color: $light;
    & .round {
        transition: all 0.3s;
        position: absolute;
        cursor: pointer;
        right: 0;
        top: 0;
        &:hover {
            background-color: $light;
            color: $dark;
        }
    }
}

.scorecard__inner-words {
    border: 3px solid $offYellow;
    background-color: $light;
    max-height: 80vh;
    overflow: auto;
    display: flex;
}

.scorecard__inner-words > div {
    padding: 20px 10px;
    width: 100%;
}
