@import "./../../partials/vars";

.scorecard {
    background-color: $dark;
    justify-content: center;
    width: 100vw;
    align-items: center;
    position: absolute;
    color: $dark;
    display: flex;
    height: 100vh;
    top: 0;
    z-index: 9;
}

.scorecard__inner {
    max-width: $maxWidth;
    display: flex;
    flex-direction: column;
}

.scorecard__inner-score {
    display: flex;
    color: $light;
    font-size: 2rem;
    justify-content: space-evenly;
    & .score {
        border: 3px solid $offYellow;
        padding: 10px;
        margin-bottom: 30px;
    }
    & .pts {
        color: $light;
    }
    & .user {
        color: $brightBlue;
    }
    & .AI {
        color: $brightGreen;
    }
    & .round {
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
            background-color: $light;
            color: $dark;
        }
    }
}

.scorecard__inner-words {
    display: flex;
    width: 100%;
    min-width: 1000px;
    max-height: 80vh;
    background-color: $light;
    border: 3px solid $offYellow;
    overflow: auto;
}

.scorecard__inner-words > div {
    padding: 20px 10px;
    width: 100%;
}
