@import "./../../partials/vars";
@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");

.difficulty {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
}

.difficulty-wrap {
    position: relative;
    background-color: rgba(0, 0, 0, 0.84);
    border: 3px solid $offYellow;
    width: 600px;
    max-height: 385px;
}

.difficulty-inner {
    flex-direction: column;
    align-items: center;
    padding: 100px;
    display: flex;
}

.title {
    font-family: "Neucha", cursive;
    padding-bottom: 20px;
    font-size: 6rem;
    color: $light;
}

.btn-group {
    display: flex;
}

.show-rules {
    border-color: $offYellow;
    background-color: $dark;
    color: $light;
    &:hover {
        color: $brightBlue;
    }
}
