@import "./../../partials/vars";

.rules {
    background-color: $light;
    position: absolute;
    bottom: 0;
    top: 0;
    &__inner {
        padding: 20px;
        p {
            padding-bottom: 10px;
        }
    }
    .close {
        background-color: $dark;
        color: $light;
        &:hover {
            color: $brightBlue;
        }
    }
}

.score-tables {
    border-collapse: collapse;
    margin-top: 10px;
    width: 100%;
    & td,
    th {
        border: 1px solid #ddd;
        padding: 8px;
    }
    & th {
        background-color: $dark;
        padding-bottom: 12px;
        color: $brightGreen;
        padding-top: 12px;
        text-align: left;
    }
    & tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    & tr:hover {
        background-color: #ddd;
    }
}
