@import "./../../partials/vars";
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

.board {
    background-color: $dark;
    flex-direction: column;
    max-width: $maxWidth;
    align-items: center;
    position: relative;
    overflow: hidden;
    height: 100vh;
    display: flex;
}

.board__grid {
    position: relative;
    margin-top: 75px;
    width: $board;
    @media (max-width: $med) {
        width: $board-sm;
    }
    border: 3px solid $offYellow;
    flex-wrap: wrap;
    display: flex;
}

.timer {
    position: absolute;
    font-size: 3rem;
    height: 100px;
    width: 100px;
    right: 100px;
    top: 75px;

    @media (max-width: $med) {
        position: absolute;
        font-size: 3rem;
        height: 90px;
        width: 90px;
        top: 75px;
    }

    @media (max-width: $small) {
        top: -1000px;
    }

    &__inner {
        font-family: "Orbitron", sans-serif;
        border: 3px solid $offYellow;
        justify-content: center;
        align-items: center;
        color: $brightGreen;
        display: flex;
        height: 100%;
        width: 100%;
    }
}

.progress-mobile {
    border: 2px solid $offYellow;
    width: $board-sm;
    display: none;
    height: 10px;

    @media (max-width: $small) {
        display: block;
    }

    &__inner {
        background: $offYellow;
        transition: all 0.3s;
        height: inherit;
        height: 6px;
    }
}
