@import "./partials/vars";

.App {
    height: 100vh;
    margin: 0 auto;
    max-width: $maxWidth;
    background: url(./assets/bg_1.jpg) center no-repeat $dark;
    background-size: contain;
    overflow: hidden;
}
