@import "./../../partials/vars";

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $square;
    height: $square;
    background-color: #fff;
    border: 1px solid #ccc;
    font-size: 3rem;
    transition: background-color 300ms;
    &:hover:not(.disabled) {
        background-color: $dark;
        color: #fff;
        cursor: pointer;
    }
    &.disabled {
        background-color: lighten($dark, 85);
    }
    &.active {
        background-color: $dark;
        color: $brightGreen;
    }
}
