@import "./../../partials/vars";

.square {
    justify-content: center;
    align-items: center;
    height: $square;
    width: $square;
    display: flex;
    @media (max-width: $med) {
        height: $square-sm;
        width: $square-sm;
    }
    transition: background-color 300ms;
    border: 1px solid #ccc;
    background-color: $light;
    font-size: 3rem;
    &:hover:not(.disabled) {
        background-color: $dark;
        cursor: pointer;
        color: $light;
    }
    &.disabled {
        background-color: lighten($dark, 85);
        color: #000;
    }
    &.active {
        background-color: $dark;
        color: $brightGreen;
    }
}

.square:focus{
    background-color: $dark;
    cursor: pointer;
    color: $light;
}
